body{
        font-family: "Poppins", sans-serif;
        margin: 0;
      }

#test p.para{
  color: blanchedalmond;
}
.child p.para{
  color: yellow;
}
p.para{
  color: red;
  color:blue; 
}
p{
  color: green;
}