*{
    margin: 0;
    padding: 0;
}

img{
    width: 40px;
    height: 40px;
    background: red;
    color: black;
    padding: 10px;
    font-size: 15px;
}

i{
    color: azure; lo
    background: rgb(218, 78, 43);
    padding: 15px;
    font-size: 15px;
}
a{
    color: black;
    text-decoration:none;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
}
a:visited{
    color: chocolate;
}
a:hover{
    color: aquamarine;
}
a:active{
    color: red;
    font-weight: bold;
    font-size: 25px;
}
a:focus{
    color: rgb(0, 0, 0);
    font-size: 16px;
    background:black;
    padding: 10px;
}
a.btn{
    text-decoration: none;
    background: red;
    border: 2px solid red;
    color: rgb(12, 12, 12);
    padding: 10px 25px;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 35px;
}
a.btn:hover{
    background: olivedrab;
    color: black;
}
/* ul{
    list-style-type: disc;
    list-style-type: square;
    list-style-type:upper-roman;
    list-style-type:lower-roman;
    list-style-type: circle;
    list-style-type:decimal;
    list-style-type: decimal-leading-zero;
    list-style-type:lower-latin;

    list-style-image: url(pointing.png);

    list-style-position: inside;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    margin-left: 25px;
    margin-right: 25px;

} */

ul{
    background: tomato;
    padding: 25px;
    list-style-position: inside;
}
li{
    background-color: violet;
    padding: 5px;
    border-bottom: 1px solid tomato;
}