*{
    margin: 0;
    padding: 0;
}

img{
    width: 40px;
    height: 40px;
    background: red;
    color: black;
    padding: 10px;
    font-size: 15px;
}

i{
    color: azure; lo
    background: rgb(218, 78, 43);
    padding: 15px;
    font-size: 15px;
}
a{
    color: black;
    text-decoration:none;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
}
a:visited{
    color: chocolate;
}
a:hover{
    color: aquamarine;
}
a:active{
    color: red;
    font-weight: bold;
    font-size: 25px;
}
a:focus{
    color: rgb(0, 0, 0);
    font-size: 16px;
    background:black;
    padding: 10px;
}
a.btn{
    text-decoration: none;
    background: red;
    border: 2px solid red;
    color: rgb(12, 12, 12);
    padding: 10px 25px;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 35px;
}
a.btn:hover{
    background: olivedrab;
    color: black;
}
/* ul{
    list-style-type: disc;
    list-style-type: square;
    list-style-type:upper-roman;
    list-style-type:lower-roman;
    list-style-type: circle;
    list-style-type:decimal;
    list-style-type: decimal-leading-zero;
    list-style-type:lower-latin;

    list-style-image: url(pointing.png);

    list-style-position: inside;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    margin-left: 25px;
    margin-right: 25px;

} 

ul{
    background: tomato;
    padding: 25px;
    list-style-position: inside;
}
li{
    background-color: violet;
    padding: 5px;
    border-bottom: 1px solid tomato;
}
table,
th,
td{
    border: 1px solid black;
    border-collapse: 5px 10px;
    padding: 5px 10px;
}
table{
    width: 100%;
}
th{
    background: red;
    border: 1px solid red;
    color: black;
    height: 50px;
    text-align: left;
}
td{
    background: rgb(240, 185, 84);
    border: 1px solid gray;
    color: white;
    height: 35px;
    vertical-align: center;
}
tr:hover th,
tr:hover td{
    background: aquamarine;
}
h1,
p,
span{
    background: teal;
}
h1{
    display: inline-block;
}
span{
    display: block;
}
h3{
    display: none;
}
a.btn{
    /* background: violet;
    color: aliceblue;
    padding: 10px 25px;
    display: inline-table; 
}  
div{
    background: aqua;
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0;
     margin-left: 20px;
    margin-top: 20px; 
    top: 50px;
}
.main{
    position: static;
    width: 100px;
    height: 100px;
    right: 10px;
    bottom: 10px;
    position: fixed;
}
.second{
    background: blueviolet;
}
.cld{
    background: rgb(104, 6, 104);
    width: 50px;
    height: 50px;
    left: 50px;
    margin-left: -25px;
    position: absolute;
    top: 50px;
    margin-top: -25px;
    z-index: 4;
}
.cld2{
    background:peru;
    width: 100px;
    height: 100px;
    left: 50px;
    margin-left: -50px;
    position: absolute;
    top: 50px;
    margin-top: -50px;
    z-index: 3;
}
.cld3{
    background:blue;
    width: 200px;
    height: 200px;
    left: 50px;
    margin-left: -25px;
    position: absolute;
    top: 50px;
    margin-top: -50px;
    z-index: 2;
}
.stk{
    background: gold;
    width: 100%;
    height: 100px;
    position: sticky;
    bottom 0;
    left: 0;

}  */

div{
    background: rgb(13, 36, 36);
    color: cadetblue;
    padding: 20px;
    overflow:hidden;
    overflow: scroll;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 300px;
    height:200px;
}
/* p{
    width: 600px;

} */
